.projectLink {
  text-decoration: none;
}

.project {
  padding: 1rem 2rem;
  margin: 0 0 3rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.096) 100%
    ),
    radial-gradient(
        at top right,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.6) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.project:hover .text .link {
  font-size: 22px;
}

.project .text h2 {
  color: #fff0e0;
}

.project .text p {
  margin: 2rem;
  position: relative;
  color: #eee;
}

.project .text small {
  color: #eee;
}

.project .text .link {
  color: rgb(41, 189, 194);
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.8s;
}

.project .img {
  min-width: 33%;
  max-width: 33%;
  transition: 0.5s;
}

.project:hover.img {
  filter: blur(0);
}

@media (hover: hover) {
  .project .img {
    filter: blur(5px);
  }
}

.project .img img {
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .project .text h2 {
    margin: 1rem 0;
  }
  .project .text p {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .project {
    flex-direction: column;
  }
  .project .img {
    max-width: 60%;
    align-self: flex-end;
    margin-top: 1rem;
  }
  .project .text p {
    margin: 0.5rem 0 1.5rem;
  }
}
